TRUSTGRID_API_PORT=8080
TRUSTGRID_DB_PORT=5432
TRUSTGRID_DB_NAME=trustgrid
TRUSTGRID_DB_USER=trustgrid
TRUSTGRID_DB_PASSWORD=trustgrid
TRUSTGRID_REDIS_PORT=6379
TRUSTGRID_KAFKA_PORT=9092
TRUSTGRID_OPENSEARCH_PORT=9200
TRUSTGRID_MINIO_PORT=9000
TRUSTGRID_MINIO_CONSOLE_PORT=9001
TRUSTGRID_MINIO_ROOT_USER=trustgrid
TRUSTGRID_MINIO_ROOT_PASSWORD=trustgrid_secret
TRUSTGRID_NODE_ID=local-node-1
TRUSTGRID_SEED_ENDPOINT_ENABLED=true
